<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Map</key>
	<dict>
		<key>Field</key>
		<dict>
			<key>Portal</key>
			<dict>
				<key>PositionX</key>
				<integer>500</integer>
				<key>PositionY</key>
				<integer>500</integer>
				<key>Destination</key>
				<string>Village</string>
			</dict>
			<key>MonsterGroup</key>
			<dict>
				<key>Monster - 5</key>
				<dict>
					<key>Sort</key>
					<string>Monster</string>
					<key>Class</key>
					<string>Knight</string>
					<key>Costume</key>
					<string>Archer</string>
					<key>PositionX</key>
					<integer>500</integer>
					<key>PositionY</key>
					<integer>500</integer>
					<key>AT</key>
					<integer>10</integer>
					<key>DF</key>
					<integer>10</integer>
					<key>Luck</key>
					<integer>20</integer>
					<key>SP</key>
					<integer>2</integer>
					<key>SearchRange</key>
					<integer>300</integer>
					<key>AttackRange</key>
					<integer>100</integer>
					<key>HP</key>
					<integer>300</integer>
					<key>EXP</key>
					<integer>10</integer>
				</dict>
				<key>Monster - 3</key>
				<dict>
					<key>Sort</key>
					<string>Monster</string>
					<key>Class</key>
					<string>Archer</string>
					<key>Costume</key>
					<string>Archer</string>
					<key>PositionX</key>
					<integer>-500</integer>
					<key>PositionY</key>
					<integer>500</integer>
					<key>AT</key>
					<integer>10</integer>
					<key>DF</key>
					<integer>10</integer>
					<key>Luck</key>
					<integer>20</integer>
					<key>SP</key>
					<integer>2</integer>
					<key>SearchRange</key>
					<integer>500</integer>
					<key>AttackRange</key>
					<integer>300</integer>
					<key>HP</key>
					<integer>300</integer>
					<key>EXP</key>
					<integer>10</integer>
				</dict>
				<key>Monster - 4</key>
				<dict>
					<key>Sort</key>
					<string>Monster</string>
					<key>Class</key>
					<string>Archer</string>
					<key>Costume</key>
					<string>Archer</string>
					<key>PositionX</key>
					<integer>-500</integer>
					<key>PositionY</key>
					<integer>500</integer>
					<key>AT</key>
					<integer>10</integer>
					<key>DF</key>
					<integer>10</integer>
					<key>Luck</key>
					<integer>20</integer>
					<key>SP</key>
					<integer>2</integer>
					<key>SearchRange</key>
					<integer>500</integer>
					<key>AttackRange</key>
					<integer>300</integer>
					<key>HP</key>
					<integer>300</integer>
					<key>EXP</key>
					<integer>10</integer>
				</dict>
				<key>Monster</key>
				<dict>
					<key>Sort</key>
					<string>Monster</string>
					<key>Class</key>
					<string>Knight</string>
					<key>Costume</key>
					<string>Archer</string>
					<key>PositionX</key>
					<integer>500</integer>
					<key>PositionY</key>
					<integer>500</integer>
					<key>AT</key>
					<integer>10</integer>
					<key>DF</key>
					<integer>10</integer>
					<key>Luck</key>
					<integer>20</integer>
					<key>SP</key>
					<integer>2</integer>
					<key>SearchRange</key>
					<integer>300</integer>
					<key>AttackRange</key>
					<integer>100</integer>
					<key>HP</key>
					<integer>300</integer>
					<key>EXP</key>
					<integer>10</integer>
				</dict>
				<key>Monster - 2</key>
				<dict>
					<key>Sort</key>
					<string>Monster</string>
					<key>Class</key>
					<string>Archer</string>
					<key>Costume</key>
					<string>Archer</string>
					<key>PositionX</key>
					<integer>-500</integer>
					<key>PositionY</key>
					<integer>500</integer>
					<key>AT</key>
					<integer>10</integer>
					<key>DF</key>
					<integer>10</integer>
					<key>Luck</key>
					<integer>20</integer>
					<key>SP</key>
					<integer>2</integer>
					<key>SearchRange</key>
					<integer>500</integer>
					<key>AttackRange</key>
					<integer>300</integer>
					<key>HP</key>
					<integer>300</integer>
					<key>EXP</key>
					<integer>10</integer>
				</dict>
			</dict>
		</dict>
		<key>Village</key>
		<dict>
			<key>NPCGroup</key>
			<dict>
				<key>NPC</key>
				<dict>
					<key>MSGArray</key>
					<array>
						<string>Help me! I&apos;m getting sick.</string>
						<string>It&apos;s because of people who don&apos;t recycle.</string>
						<string>Please recycle trash for me.</string>
						<string>Go to the Portal and Fight against the Plastic Monsters</string>
					</array>
					<key>Costume</key>
					<string>NPC</string>
					<key>PositionX</key>
					<integer>700</integer>
					<key>PositionY</key>
					<integer>-100</integer>
				</dict>
			</dict>
			<key>ObjectGroup</key>
			<dict>
				<key>TrashA</key>
				<dict>
					<key>Costume</key>
					<string>TrashA</string>
					<key>PositionX</key>
					<integer>100</integer>
					<key>PositionY</key>
					<integer>100</integer>
				</dict>
				<key>TrashA - 2</key>
				<dict>
					<key>Costume</key>
					<string>TrashA</string>
					<key>PositionX</key>
					<integer>200</integer>
					<key>PositionY</key>
					<integer>200</integer>
				</dict>
				<key>TrashA - 3</key>
				<dict>
					<key>Costume</key>
					<string>TrashA</string>
					<key>PositionX</key>
					<integer>300</integer>
					<key>PositionY</key>
					<integer>100</integer>
				</dict>
				<key>TrashB</key>
				<dict>
					<key>Costume</key>
					<string>TrashB</string>
					<key>PositionX</key>
					<integer>-100</integer>
					<key>PositionY</key>
					<integer>-100</integer>
				</dict>
				<key>TrashB - 2</key>
				<dict>
					<key>Costume</key>
					<string>TrashB</string>
					<key>PositionX</key>
					<integer>-200</integer>
					<key>PositionY</key>
					<integer>-100</integer>
				</dict>
				<key>TrashB - 3</key>
				<dict>
					<key>Costume</key>
					<string>TrashB</string>
					<key>PositionX</key>
					<integer>-300</integer>
					<key>PositionY</key>
					<integer>-100</integer>
				</dict>
				<key>BuildingA</key>
				<dict>
					<key>Costume</key>
					<string>BuildingA</string>
					<key>PositionX</key>
					<integer>700</integer>
					<key>PositionY</key>
					<integer>-500</integer>
				</dict>
				<key>BuildingB</key>
				<dict>
					<key>Costume</key>
					<string>BuildingB</string>
					<key>PositionX</key>
					<integer>200</integer>
					<key>PositionY</key>
					<integer>-400</integer>
				</dict>
			</dict>
			<key>Portal</key>
			<dict>
				<key>PositionX</key>
				<integer>500</integer>
				<key>PositionY</key>
				<integer>500</integer>
				<key>Destination</key>
				<string>Field</string>
			</dict>
		</dict>
	</dict>
	<key>Player</key>
	<dict>
		<key>Sort</key>
		<string>Player</string>
		<key>Costume</key>
		<string>RedSwan</string>
		<key>AT</key>
		<integer>500</integer>
		<key>EXP</key>
		<integer>10</integer>
		<key>DF</key>
		<integer>10</integer>
		<key>Luck</key>
		<integer>40</integer>
		<key>SP</key>
		<integer>5</integer>
		<key>HP</key>
		<integer>500</integer>
	</dict>
</dict>
</plist>
